:host {
  display: block;
  position: relative;
  &.ngurtl {
    direction: rtl;
  }
}

.carousel {
  // height: 100%;
  // .carousel-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  .carousel-items {
    position: relative;
    display: flex;
    height: 100%;
  } // }
}

.nguvertical {
  flex-direction: column;
}


.clearFix {
  clear: both;
}


// navigation styles
button.nav {
  // TODO add button reset
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &.prev {
      left: 0;
  }

  &.next {
      right: 0;
  }
}


// pagination styles
.pagination {
  list-style-type: none;
  text-align: center;
  padding: 12px 0 0;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;

  li {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.55);
    padding: 4px;
    margin: 0 3px;
    transition: 0.3s;
    cursor: pointer;

    &.active {
      background: #6b6b6b;
      transform: scale(1.2);
      cursor: default;
    }
  }
}
